body {
    margin: 0;
    padding: 0;
}

.wrapper {
    border: 1px solid white;
    height: 700px;
    width: 100%;
}

.header {
    border: 1px solid white;
    height: 40px;
    width: 100%;
    background-color: #F8F8F8;
}

ul.list_1 li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    float: right;
    padding-left: 10px;
    margin: 0 auto;
}

ul.list_1 li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

ul.list_1 {
    padding: 0;
    margin: 0;
    margin-right: 50px;
    list-style: none;
}

ul.list_1 a:hover {
    color: #A8A8A8;
}

.null {
    font-size: 13px;
    padding-bottom: 5px;
}

.logojordan {
    padding-top: 5px;
    margin: 0 auto;
    margin-left: 50px;
    height: 35px;
    width: 35px;
}


/* menu */

.col_menu {
    flex: 1;
    height: 60px;
}

.menu {
    position: relative;
    border: 1px solid white;
    height: 60px;
    width: 100%;
    margin-bottom: 1px;
}

ul.menu_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.menu_1 li {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 100px;
    height: 60px;
    text-align: center;
    margin: 0;
}

ul.menu_1 li a {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 60px;
}

ul.menu_1 li a:hover {
    border: 1px solid white;
    border-bottom: 2px solid black;
}

ul.menu_1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu_1 a:hover {
    border: 1px solid black;
}


/* ----- */


/* menu_2 */

ul.menu_2 li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    float: right;
    padding-left: 10px;
    margin: 0 auto;
}

.menu_2 .btn {
    border: 1px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

ul.menu_2 li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

ul.menu_2 {
    padding: 0;
    margin: 0;
    margin-right: 50px;
    list-style: none;
}

ul.menu_2 a:hover {
    color: #A8A8A8;
}


/* ----- */

.row {
    display: flex;
}

.logo {
    margin: 0 auto;
    display: block;
    margin-left: 80px;
    width: 13%;
}

.col {
    flex: 1;
    height: 60px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 90%;
}


/* footer */


/* phân chia cột */

.footer {
    position: relative;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    background-color: black;
}

ul.menu_footer_1 {
    padding-top: 10%;
    list-style: none;
}

ul.menu_footer_1 li a {
    padding-left: 20%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 35px;
}

ul.menu_footer_1 a:hover {
    color: #A8A8A8;
}


/* footer_2 */

ul.menu_footer_2 {
    padding-left: 20%;
    padding-top: 10%;
    list-style: none;
}

ul.menu_footer_2 li a {
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #A8A8A8;
    text-decoration: none;
    width: 100%;
    height: 30px;
}

ul.menu_footer_2 a:hover {
    color: white;
}


/* footer_3 */

ul.menu_footer_3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.menu_footer_3 li {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 100px;
    height: 70px;
    text-align: center;
    margin: 0 10px;
}

ul.menu_footer_3 li a {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 122px;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 70px;
}

ul.menu_footer_3 a:hover {
    color: white;
}


/* -- *
/* --- */


/* sidebar */

#main {
    padding-top: 50px;
    margin: 0 auto;
    border: 1px solid white;
    height: auto;
    width: 90%;
}


/* sidebar */

.sidebar {
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid white;
    height: 390px;
    width: 15%;
    margin-top: 10px;
    float: left;
}

.sidebar ul {
    list-style: none;
    padding-left: 0%;
}

.sidebar ul a {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-weight: 500;
    font-size: 17px;
    color: #383838;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: 0.5s;
}

.sidebar li:hover a {
    padding-left: 70px;
    color: #A8A8A8;
    background-color: #F8F8F8;
    border-radius: 10%;
}

.maincontent {
    border: 1px solid #FFFFFF;
    height: auto;
    width: 80%;
    margin-top: 5px;
    margin-left: 60px;
    float: left;
}

ul.product_lits {
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
    width: 100%;
}

ul.product_lits li {
    padding-bottom: 30px;
    width: 33%;
    border: 1px solid #FFFFFF;
    float: left;
}

ul.product_lits li a {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul.product_lits li a .price_product {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul.product_lits li a .title_product {
    text-decoration: none;
    list-style: none;
    color: #A52A2A;
}

ul.product_lits li img {
    width: auto;
    height: 300px;
    background-color: #F8F8F8;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul.product_lits li p {
    margin: 0 auto;
    padding-bottom: 5px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.clear {
    clear: both;
}


/* -- *
 /* jQuery Demo */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #777;
    cursor: default;
    margin: 0 1px 0 0;
    padding: 10px 0px 10px 0px;
    width: 15%;
    float: left;
    position: relative;
    background-color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow-steps .step a {
    color: #777;
    text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #ddd;
    z-index: 2;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:last-child:after {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

*.arrow-steps .step.done span:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 11px;
    line-height: 21px;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #5599e5;
}

.arrow-steps .step.current a {
    color: #fff;
    text-decoration: none;
}

.arrow-steps .step.current:after {
    border-left: 17px solid;
}

.arrow-steps .step.done {
    color: #173352;
    background-color: #2f69aa;
}

.arrow-steps .step.done a {
    color: #173352;
    text-decoration: none;
}

.arrow-steps .step.done:after {
    border-left: 17px solid #2f69aa;
}