body {
    margin: 0;
    padding: 0;
}

.wrapper {
    border: 1px solid white;
    height: 700px;
    width: 100%;
}

.header {
    border: 1px solid white;
    height: 40px;
    width: 100%;
    background-color: #F8F8F8;
}

ul.list_1 li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    float: right;
    padding-left: 10px;
    margin: 0 auto;
}

ul.list_1 li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

ul.list_1 {
    padding: 0;
    margin: 0;
    margin-right: 50px;
    list-style: none;
}

ul.list_1 a:hover {
    color: #A8A8A8;
}

.null {
    font-size: 13px;
    padding-bottom: 5px;
}

.logojordan {
    padding-top: 5px;
    margin: 0 auto;
    margin-left: 50px;
    height: 35px;
    width: 35px;
}


/* menu */

.col_menu {
    flex: 1;
    height: 60px;
}

.menu {
    position: relative;
    border: 1px solid white;
    height: 60px;
    width: 100%;
    margin-bottom: 1px;
}

ul.menu_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.menu_1 li {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 100px;
    height: 60px;
    text-align: center;
    margin: 0;
}

ul.menu_1 li a {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 60px;
}

ul.menu_1 li a:hover {
    border: 1px solid white;
    border-bottom: 2px solid black;
}

ul.menu_1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu_1 a:hover {
    border: 1px solid black;
}


/* ----- */


/* menu_2 */

ul.menu_2 li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    float: right;
    padding-left: 10px;
    margin: 0 auto;
}

ul.menu_2 li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

ul.menu_2 {
    padding: 0;
    margin: 0;
    margin-right: 50px;
    list-style: none;
}

ul.menu_2 a:hover {
    color: #A8A8A8;
}


/* ----- */

.row {
    display: flex;
}

.logo {
    margin: 0 auto;
    display: block;
    margin-left: 80px;
    width: 13%;
}

.col {
    flex: 1;
    height: 60px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 90%;
}


/* footer */


/* phân chia cột */

.footer {
    position: relative;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    background-color: black;
}

ul.menu_footer_1 {
    padding-top: 10%;
    list-style: none;
}

ul.menu_footer_1 li a {
    padding-left: 20%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 35px;
}

ul.menu_footer_1 a:hover {
    color: #A8A8A8;
}


/* footer_2 */

ul.menu_footer_2 {
    padding-left: 20%;
    padding-top: 10%;
    list-style: none;
}

ul.menu_footer_2 li a {
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #A8A8A8;
    text-decoration: none;
    width: 100%;
    height: 30px;
}

ul.menu_footer_2 a:hover {
    color: white;
}


/* footer_3 */

ul.menu_footer_3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.menu_footer_3 li {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 100px;
    height: 70px;
    text-align: center;
    margin: 0 10px;
}

ul.menu_footer_3 li a {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 122px;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 70px;
}

ul.menu_footer_3 a:hover {
    color: white;
}


/* -- *
/* --- */


/* sidebar */

#main {
    padding-top: 50px;
    margin: 0 auto;
    border: 1px solid white;
    height: auto;
    width: 90%;
}


/* sidebar */

.sidebar {
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid white;
    height: 390px;
    width: 15%;
    margin-top: 10px;
    float: left;
}

.sidebar ul {
    list-style: none;
    padding-left: 0%;
}

.sidebar ul a {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-weight: 500;
    font-size: 17px;
    color: #383838;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: 0.5s;
}

.sidebar li:hover a {
    padding-left: 70px;
    color: #A8A8A8;
    background-color: #F8F8F8;
    border-radius: 10%;
}

.maincontent {
    border: 1px solid #FFFFFF;
    height: auto;
    width: 80%;
    margin-top: 5px;
    margin-left: 60px;
    float: left;
}

ul.product_lits {
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
    width: 100%;
}

ul.product_lits li {
    padding-bottom: 50px;
    width: 33%;
    border: 1px solid #FFFFFF;
    float: left;
}

ul.product_lits li a {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul.product_lits li a .price_product {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul.product_lits li a .title_product {
    text-decoration: none;
    list-style: none;
    color: #A52A2A;
}

ul.product_lits li img {
    width: auto;
    height: 300px;
    background-color: #F8F8F8;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul.product_lits li p {
    margin: 0 auto;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.clear {
    clear: both;
}


/* -- *